.job_info_container{
flex: 1;
  /* testin */
}

.chart_wrapper {
  display: flex;
  justify-content: flex-end;
}

.chart_container{
  flex: 2;
  /* testing */
}

.loading_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.loading_icon {
  animation: loading 0.7s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}