a {
  display: block;
  text-decoration: none;
  color: #090c10;
}

a:hover {
  text-decoration: underline;
}

.links {
  flex: 1;
  display: flex;
}

.footer_heading {
  flex: 2;
}

.links div {
  margin-bottom: 10px;
}

.container {
  background-color: #eff0f0;
}

.main_footer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
}

.information,
.community {
  margin-right: 20px;
}

.information h2,
.community h2 {
  padding: 10px 0;
  font-size: 16px;
}

.information a,
.community a {
  font-size: 14px;
  padding: 2px 0;
}

.donate_button {
  max-height: 30px;
  max-width: 100px;
  text-transform: uppercase;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  background-color: #413b8d;
  color: #fdfdfd;
}

.footer_socials {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer_second_column {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.footer_second_column a,
.footer_second_column span {
  padding: 0 15px 0 0;
}

@media only screen and (min-width: 800px) {
  .main_footer {
    flex-direction: row;
    align-items: center;
  }

  .footer_socials {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
