* {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* removing default styling of all web components, allows for easier development across platforms */
  -webkit-appearance: none;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}
